{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    {% if form.errors %}
    <div class="form-error">Las credenciales no son válidas. Inténtalo de nuevo.</div>
    {% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}

    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
</form>
{% endblock %}
